@page "/persona/deletepersona/{ID}"
@using DurbelALora.Model
@using DurbelALora.Service
@inject IPersonaService service
@inject NavigationManager navigationManager

<div class="card">
    <div class="card-header">
        <h4>
            Quieres Borrar a @obj.Nombre?
            <input type="button" class="btn btn-danger" @onclick="@DeleteComp" value="Si" />
            <input type="button" class="btn btn-primary" @onclick="@back" value="No" />
        </h4>
    </div>

</div>


@code {
    [Parameter]
    public string Id { get; set; }
    Persona obj = new Persona();

    string error = "";

    protected override async Task OnInitializedAsync()
    {
        try
        {
        obj = await Task.Run(() => service.GetById(Convert.ToInt32(Id)));

        }
        catch (Exception x)
        {

            error = $"Error: {x.Message}";
        }
    }

    protected async void DeleteComp()
    {
        try
        {
            await service.Delete(obj.ID);
            navigationManager.NavigateTo("/persona");
        }
        catch (Exception x)
        {
            error = $"Error: {x.Message}";
        }

    }

    void back()
    {
        navigationManager.NavigateTo("/persona");
    }
}
